<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ÖIS Statistik</title>
    <link rel="stylesheet" href="/asset/css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/view/index.html" id="navbar__logo"><i ></i>ÖIS Match Statistik</a>
            <div class="navbar__toggle" id="mobile-menu">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/" class="navbar__links"> Om </a>
                </li>
                <li class="navbar__item">
                  <a href="/hur.html" class="navbar__links"> Hur </a>
              </li>
              <li class="navbar__item">
                  <a href="/products.html" class="navbar__links"> Varför </a>
              </li>
              <li class="navbar__btn"> 
                <a href="/view/nymatch.html"class="button">NyMatch </a>
              </li>
            </ul>
        </div>
    </nav>


    <div class="wrapper">
        <div class="registration_form">
            <div class="title">
                LÄGG TILL NY MATCH
            </div>
    
            <form>
                <div class="form_wrap">
                    <div class="input_grp">
                        <div class="input_wrap">
                            <label for="fname">Hemmalag</label>
                            <input type="text" id="fname">
                        </div>
                        <div class="input_wrap">
                            <label for="lname">Bortalag</label>
                            <input type="text" id="lname">
                        </div>
                    </div>
                    <div class="input_wrap">
                        <label for="email">Email Address</label>
                        <input type="text" id="email">
                    </div>
                    <div class="input_wrap">
                        <label>Kön</label>
                        <ul>
                            <li>
                                <label class="radio_wrap">
                                    <input type="radio" name="gender" value="male" class="input_radio" checked>
                                    <span>Male</span>
                                </label>
                            </li>
                            <li>
                                <label class="radio_wrap">
                                    <input type="radio" name="gender" value="female" class="input_radio">
                                    <span>Female</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="input_wrap">
                        <label for="city">Anfallspel eller Försvarsspel</label>
                        <input type="text" id="city">
                    </div>
                    <div class="input_wrap">
                        <label for="country">Fokus</label>
                        <input type="text" id="country">
                    </div>
                    <div class="input_wrap">
                        <input type="submit" value="Registrera match" class="submit_btn">
                    </div>
                </div>
            </form>
        </div>
    </div>
    


    
    <script src="/asset/js/myscript.js"></script>
</body>
</html>